workflows/04-redator-sops.json
{
  "name": "04-redator-sops",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {}
      },
      "id": "2",
      "name": "AI Agent (Reflection)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\nimport os\nsys.path.append(os.getenv('PROJECT_ROOT', '/data/agent-smith'))\nfrom tools import sop_template\n\ndata = _input.item.json.get('sop_json', {})\nfinal_markdown = sop_template.render_sop(data)\nreturn {\"markdown\": final_markdown, \"processo\": data.get('processo', 'SemNome')}"
      },
      "id": "3",
      "name": "render-final-sop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\nimport os\nsys.path.append(os.getenv('PROJECT_ROOT', '/data/agent-smith'))\nfrom tools import gdrive_client, context_manager\n\nfolders = context_manager.get('config.gdrive_folders', {})\ncontent = _input.item.json.get('markdown')\nproc_name = _input.item.json.get('processo')\n\nfile_id = gdrive_client.write_document(folders.get('sops'), f\"{proc_name}-v1.md\", content)\nreturn {\"file_id\": file_id, \"proc_name\": proc_name}"
      },
      "id": "4",
      "name": "save-sop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import sys\nimport os\nsys.path.append(os.getenv('PROJECT_ROOT', '/data/agent-smith'))\nfrom tools import whatsapp_client\n\nproc_name = _input.item.json.get('proc_name')\nceo = os.getenv('CEO_WHATSAPP')\nmsg = f\"SOP criado: {proc_name}\\nSalvei no Drive para sua revisão.\\nResponda OK para aprovar ou Ajusta para modificar.\"\nwhatsapp_client.send_message(ceo, msg)\nreturn _input.item.json"
      },
      "id": "5",
      "name": "notify-ceo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ceo_approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6",
      "name": "IF: ceo-approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Agent (Reflection)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Reflection)": {
      "main": [
        [
          {
            "node": "render-final-sop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "render-final-sop": {
      "main": [
        [
          {
            "node": "save-sop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-sop": {
      "main": [
        [
          {
            "node": "notify-ceo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notify-ceo": {
      "main": [
        [
          {
            "node": "IF: ceo-approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
